Content/maps
Content/materials
Content/particles
Content/models
Content/particle
Content/particles
Content/sounds
Game/maps
Game/materials
Game/models
Game/particles
Game/screenshots
*.bin
/.vs
Game/soundevents
Game/scripts/npc/npc_abilities_custom.txt
Game/scripts/npc/npc_items_custom.txt
Game/scripts/npc/npc_units_custom.txt
Builder/__pycache__/