Content/maps
Content/materials
Content/particles
Content/models
Content/particle
Content/particles
Content/sounds
Game/maps
Game/materials
Game/models
Game/particles
Game/screenshots
*.bin
Game/tool_asset_info
Game/tools_thumbnail_cache
