.quests
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 50px;
	margin-right: 25px;
    border-color: #FFFFFF;
    background-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	max-width: 50%;
	flow-children:down;
}
.quests_overhead
{
	flow-children:right;
	vertical-align:bottom;
	margin-top:10px;
	margin-left:10px;
}
#hide_completed_quests_buton
{
	vertical-align:center;
	margin-right:10px;
	margin-left:10px;
}
.invisible{
	visibility: collapse;
}

.quests_title
{
	color: rgb(25, 219, 128);
	font-size: 24px;
	margin-left:10px;
	vertical-align:center;
}

.quest-active
{
	color:red;
}
.quest-completed
{
	color:yellow;
}
.quest-claimed
{
	color:green;
}

.quest 
{
	flow-children:down;
}

#quests_container
{
	flow-children:down;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
}

#quest_name
{
	margin-left: 10px;
    margin-right: 10px;
    font-size:20px;
	text-decoration: underline;
}

#quest_text
{
	margin-left: 20px;
}

.quest_objective_container
{
	flow-children:right;
}
#quest_objective_ping_button
{
	background-color: gradient( linear, 0px 0%, 140px 0%, from( #333333 ), to( #222222 ) );
	border: 1px solid #666666;
	border-radius:6px;
	margin-left:10px;
}
#quest_objective_ping_button:hover{
	border: 1px solid white;
	background-color: gradient( linear, 0px 0%, 140px 0%, from( #444444 ), to( #333333 ) );
	border-radius:6px;
	margin-left:10px;
}
.quest_objective_ping_label
{
	margin-left:5px;
	margin-right:5px;
}

#quest_objective
{
	margin-left: 20px;
}

.objective-completed
{
	text-decoration: line-through;
}

.quest_reward_container
{
	flow-children:right;
}

#quest_reward_button
{
	background-color: gradient( linear, 0px 0%, 140px 0%, from( #333333 ), to( #222222 ) );
	border: 1px solid #666666;
	border-radius:6px;
	margin-left:10px;
}
#quest_reward_button:hover{
	background-color: #666666;
	border: 1px solid white;
	background-color: gradient( linear, 0px 0%, 140px 0%, from( #444444 ), to( #333333 ) );
	margin-left:10px;
}

.quest_reward_button_label
{
	color:green;
	margin-left:5px;
	margin-right:5px;
}
.reward-claimed
{
	text-decoration: line-through;
}

#quest_reward
{
	margin-left: 30px;
}
