.tutorial{
	
}

.tutorial_content{
	width:100%;
	height:100%;
}

#tutorial_container{
	width:100%;
	height:100%;
}

.tutorial_main{
	vertical-align: center;
	horizontal-align:center;
	margin-bottom:10%;
	border-radius: 4px;
	border:1px solid #BBBBBB;
}

#tutorial_bg{
	background-color: gradient( linear, 0px 0%, 600px 0%, from( #333333 ), to( #000000 ) );
	width:600px;
	height:800px;
	opacity:0.9;
}

.tutorial_mega_container{
	height:100%;
	width:100%;
	flow-children:down;
}

#tutorial_header{
	width:100%;
	height:120px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom:1px solid #444444;
}

#tutorial_header_title{
	horizontal-align:center;
	vertical-align: center;
	font-size:48px;
	color:#FFFFFF;
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	padding-left:20px;
	padding-right:20px;
	text-shadow: 1px 1px 2px 3 #00000066;
}

#tutorial_header_container{
	horizontal-align:center;
	vertical-align: center;	
	padding-left:10px;
	padding-right:10px;
}

#tutorial_header_container_bg{
	border-radius:4px;
	background-color: #111111;
	opacity: 0.98;
	height:100%;
	width:100%;
	padding-left:10px;
	padding-right:10px;
}

#tutorial_categories_container{
	height:78%;
	width:100%;
	flow-children:down;
}

.tutorial_category{
	height:100px;
	margin-top:10px;
	margin-left:15px;
	margin-right:15px;
	border-radius:4px;
	background-color: #111111;
	padding:0px;
	width:100%;
	box-shadow: 1px 1px 2px #000000;
}

.tutorial_category_container{
	height:100%;
	width:100%;
	flow-children:down;
}

.tutorial_category_header{
	background-color: gradient( linear, 0px 0%, 460px 0%, from( #30422a ), to( #77a368 ) );
	width:100%;
	text-align: left;
	padding-top:2px;
	border:2px solid #222222;
	border-bottom:0px;
}

.reward_active{
	background-color: gradient( linear, 0px 0%, 460px 0%, from( #2a2c66 ), to(#323477 ) );
}

.reward_active_hover{
	background-color: gradient( linear, 0px 0%, 460px 0%, from( #323477), to( #464899 ) );
}

#tutorial_category_header_label{
	margin-left:10px;
	vertical-align: center;
	font-size:22px;
	line-height:16px;
	color:#FFFFFF;
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;

}

#tutorial_category_description_label{
	margin-top:0px;
	vertical-align: center;
	font-size:18px;
	line-height:20px;
	color:#FFFFFF;
	white-space: normal;
	letter-spacing:0.6px;
	padding:10px;
	font-family: TH Sarabun New, Radiance, FZLanTingHei-R-GBK, Gulim,MingLiU;
}

.tutorial_category_header_active{
	background-color: gradient( linear, 0px 0%, 460px 0%, from( #4b6841 ), to( #a2e08d ) );
}

.tutorial_category_description_active{
	background-color: #1a1a1a;
}

#close_button{
	width:100%;
	horizontal-align:center;
	vertical-align: bottom;
	height:50px;
	background-color: #121212;
	border:1px solid white;
}

#close_button:hover{
	background-color: #333333;
}

#close_button_label{
	width:100%;
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;	
	color:white;
	text-align: center;
	font-size:18px;
	line-height: 35px;
}

.invisible{
	transition-delay: .5s;
	visibility: collapse;
}

.animateEaseClass{
    animation-name: easeIn;
    animation-duration: .2s;
    animation-timing-function: linear;	
}

.animateEaseOutClass{
    animation-name: easeOut;
    animation-duration: .2s;
    animation-timing-function: linear;	
}

@keyframes 'easeIn'{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes 'easeOut'{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.tutorial_challenge_list{
	width:100%;
	margin-left:15px;
	margin-right:15px;
	margin-top:20px;
	height:100%;
}

#challenge_list_items{
	width:100%;
	flow-children:down;	
}

#total_challenge_list{
	width:100%;
	height:100%;
}

.tutorial_challenge{
	width:100%;
	background-color: #111111;
	border-radius: 4px;
	border: 1px solid #555555;
}

.tutorial_challenge:hover{
	background-color: #222222;
	border: 1px solid #999999;
}

.tutorial_challenge_active{
	width:100%;
	background-color: #02020a;
	border-radius: 4px;
	border: 1px solid #999999;	
}

#tutorial_category_clickable{
	width:100%;
	height:100%;
}
#tutorial_challenge_text{
	width:100%;
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;	
	color:white;
	font-size:16px;
	margin-left:15px;
	padding-top:10px;
	padding-bottom:10px;
}

#back_button{
	width:100%;
	horizontal-align:center;
	vertical-align: bottom;
	height:50px;
	background-color: #121212;
	border:1px solid white;
}

#back_button:hover{
	background-color: #333333;
}

#back_button_label{
	width:100%;
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;	
	color:white;
	text-align: center;
	font-size:18px;
	line-height: 35px;
}

#challenge_button{
	height:40px;
	width:100%;
}

#challenge_description_and_go_container{
	vertical-align: bottom;
	width:100%;
	height:120px;
}

.challenge_description_and_go{
	width:100%;
	height:140px;
	vertical-align: bottom;
}

#descrip_and_go_content{
	width:100%;
	height:100%;
	background-color:#1b2d21;
	border-radius:8px;
	flow-children:down;
	box-shadow: 1px 1px 2px #000000;
	border:1px solid #000000;
}

#descrip_and_go_description_text{
	width:100%;
	padding-left:8px;
	padding-right:8px;
	font-family: TH Sarabun New, Radiance, FZLanTingHei-R-GBK, Gulim,MingLiU;
	color:white;
	font-size:18px;
	line-height: 20px;	
	white-space: normal;
	font-weight:light;
	height:80px;
}

#challenge-list{
	height:100%;
}

#challenge_go_button{
	width:50%;
	horizontal-align:center;
	height:40px;
	border-radius:4px;
	border:1px solid #000303;
	vertical-align: bottom;
	margin-bottom:10px;
	background-color: gradient( linear, 0px 0%, 300px 0%, from( #1A1A1A ), to( #111111 ) );
	box-shadow: 1px 1px 2px #000000;

}

#challenge_go_button:hover{
	background-color: gradient( linear, 0px 0%, 300px 0%, from( #1F1F1F ), to( #161616 ) );
	box-shadow: 0px 0px 0px #000000;
}

#challenge_go_button_text{
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;	
	color:#fdb53f;
	text-align: center;
	font-size:18px;
	line-height: 30px;		
	horizontal-align:center;
	text-transform: uppercase;
}

#tutorial_challenge_summary_container{
	horizontal-align:left;
	margin-top:160px;
	width:700px;
	height:400px;
}

.challenge_summary{
	width:100%;
	height:100%;
	flow-children:down;
}

.challenge_summary_item{
	color:white;
}

#challenge_summary_item_label{
	font-family:Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size:16px;
	margin-left:10px;
}

.challenge_summary_bg{
	width:100%;
	height:100%;
	background-color: #111111;
	opacity:0.4;
}

.challenge_summary_item_completed{
	color: #67c665;
}

#green_check{
	horizontal-align:right;
	width:24px;
	height:24px;
	vertical-align: center;
	margin-right:5px;
}

.challenge_reward_button{
	width:100%;
	text-align: center;
	letter-spacing: 2px;
	color: #f0f940;
}

#reward_and_go_content{
	width:100%;
	height:100%;
	background-color:#0f1830;
	border-radius:8px;
	flow-children:down;
	box-shadow: 1px 1px 2px #000000;
	border:1px solid #000000;
}

#reward_image{
	width:40px;
	height:40px;
	margin-top:10px;
	horizontal-align:center;
	border-radius:100%;
}

#reward_and_go_description_text{
	width:100%;
	padding-left:8px;
	padding-right:8px;
	font-family: TH Sarabun New, Radiance, FZLanTingHei-R-GBK, Gulim,MingLiU;
	color:white;
	font-size:18px;
	line-height: 20px;	
	white-space: normal;
	font-weight:light;
	height:40px;
	text-align:center;
}

.reward_unclaimed{
	width:50%;
	horizontal-align:center;
	height:40px;
	border-radius:4px;
	border:1px solid #000303;
	vertical-align: bottom;
	margin-bottom:10px;
	background-color: gradient( linear, 0px 0%, 300px 0%, from( #1A1A1A ), to( #111111 ) );
	box-shadow: 1px 1px 2px #000000;

}

.reward_unclaimed:hover{
	background-color: gradient( linear, 0px 0%, 300px 0%, from( #1F1F1F ), to( #161616 ) );
	box-shadow: 0px 0px 0px #000000;
}

.reward_claimed{
	width:50%;
	horizontal-align:center;
	height:40px;
	border-radius:4px;
	border:1px solid #000303;
	vertical-align: bottom;
	margin-bottom:10px;
	background-color: #111111;

}