.invisible{
	transition-delay: .5s;
	visibility: collapse;
}

.animateEaseClass{
    animation-name: easeIn;
    animation-duration: .5s;
    animation-timing-function: linear;	
}

.animateEaseOutClass{
    animation-name: easeOut;
    animation-duration: .5s;
    animation-timing-function: linear;	
}

@keyframes 'easeIn'{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes 'easeOut'{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.boss_health_outer{
  width:100%;
  height:40px;
  background-color: #222222;
  margin-right:2px;
  margin-left:2px;
  border-radius:6px;
  border:1px solid #DDDDDD;
}
#boss_health_outer {
    margin-top: 0px;
}
#boss_health_outer2 {
    margin-top: 40px;
}
#boss_health_outer3 {
    margin-top: 80px;
}
#boss_health_outer4 {
    margin-top: 120px;
}
#boss_health_outer5 {
    margin-top: 160px;
}
.boss_current_health{
  width:100%;
  height:100%;
  background-color: gradient( linear, 0px 0%, 600px 0%, from( #912020 ), to( #D63636 ) );
}

.boss_name{
  color:white;
  font-size:24px;
  text-shadow:0px 0px 4px black;
  vertical-align: center;
  horizontal-align:center;
  margin-top:2px;
}

.boss_health_container{
  width:680px;
  height:200px;
  horizontal-align:center;
  margin-top:80px;
}