#gems-small{
	vertical-align: bottom;
	flow-children:right;
	margin-left:4px;
	margin-bottom:4px;
}

.gems-root{
	vertical-align: bottom;
	flow-children:right;
	margin-left:4px;
	margin-bottom:4px;
}

.gems-equipment-container{
	vertical-align: bottom;
	flow-children:right;
}

.gems-small-socket{
	border-radius:100%;
	border:1px solid #a87732;
	opacity:0.95;
	background-color: #222222;
	width:20px;
	height:20px;
}

.placed-gem{
	width:100%;
	height:100%;
}