#Hero_Strength_Icon{
	/*background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");*/
	background-image: url("s2r://panorama/images/hud/reborn/mini_strength_icon_psd.vtex");
	width:16px;
	height:16px;
	horizontal-align:right;
	background-size: contain;

	border-radius:100%;
	box-shadow: 1px 1px 2px black;
}

#Hero_Agility_Icon{
	/*background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex");*/
	background-image: url("s2r://panorama/images/hud/reborn/mini_agi_icon_psd.vtex");
	width:16px;
	height:16px;
	horizontal-align:right;
	background-size: contain;

	border-radius:100%;
	box-shadow: 1px 1px 2px black;
}

#Hero_Intelligence_Icon{
	/*background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex");*/
	background-image: url("s2r://panorama/images/hud/reborn/mini_int_icon_psd.vtex");
	width:16px;
	height:16px;
	horizontal-align:right;
	background-size: contain;

	border-radius:100%;
	box-shadow: 1px 1px 2px black;
}

#Hero_Spirit_Icon{
	/*background-image: url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex");*/
	background-image: url("file://{images}/custom_game/ui/spirit_transparent.png");
	width:16px;
	height:16px;
	horizontal-align:right;
	background-size: contain;

	border-radius:100%;
	box-shadow: 1px 1px 2px black;
}

.primary_attribute{
	border:1px solid white;
}

.attribute_data{
	flow-children:right;
	margin-top:2px;
	margin-bottom:2px;
	horizontal-align:right;
}

#hero_stats_container{
	width:220px;
	height:100%;
/*	horizontal-align:center;*/
	margin-top:10px;
}

#attributes_image_row{
	width:100%;
	flow-children:right;
}

.hero_attribute_label{
	font-size:14px;
	font-weight:medium;
	font-family:RadianceM;
	text-shadow : 1px 1px 2px 3 #00000088;
	transition-property: transform, opacity, width;
	transition-duration: 0.12s;
	transition-timing-function:ease-in-out;
	horizontal-align:right;
	color:#CCC;
	margin-top:1px;
}

#strength_label{
/*	color: #F75959;*/
}

#agility_label{
/*	color: #2EB82E;*/
}

#intelligence_label{
/*	color: #33CCFF;*/
}

.invisible{
  visibility: collapse;
}

.stat_tiamat{
/*	color:#CCCCCC;
	text-shadow: 0px 0px 4px 4 #00000088;*/
}

.inspiration_gold{
	border:2px solid yellow;
}

.inspiration_blue{
	border:2px solid blue;
}

.hero_stats_root{
	width:210px;
	height:94px;
}

#unit_stats_container{
	width:100%;
	height:100%;
}

#hero_attributes{
	horizontal-align:right;
	height:100%;
	flow-children:down;
	margin-top:2px;
}

#unit_attributes{
	horizontal-align:left;
	vertical-align: bottom;
	height:64px;
	padding-left:2px;
	width:64px;
	padding-top:4px;
	flow-children:down;
	margin-bottom:4px;
	background-color:#111111;
	opacity:0.9; 
	border-radius:6px;
}

.unit_attributes_row{
	height:30px;
	width:100%;
	flow-children:right;
}

.unit_attribute{
	height:30px;
	width:30px;
}

.unit_attribute_image{
	width:16px;
	height:16px;
	margin-right:2px;
	horizontal-align:center;
	background-size: contain;

/*	border-radius:100%;*/
/*	box-shadow: 1px 1px 2px black;	*/
	vertical-align: top;
}

#unit_attribute_armor{
	background-image: url("s2r://panorama/images/hud/reborn/icon_armor_psd.vtex");
}

#unit_attribute_armor_pierce{
	background-image: url("file://{images}/custom_game/ui/armor_pierce.png");
}

#unit_attribute_magic_armor{
	background-image: url("file://{images}/custom_game/ui/magic_armor.png");
}

#unit_attribute_spell_pierce{
	background-image: url("file://{images}/custom_game/ui/spell_pierce.png");
}


.unit_attribute_label{
	font-size:12px;
	font-weight:medium;
	font-family:RadianceM;
	text-shadow : 1px 1px 2px 3 #00000088;
	transition-property: transform, opacity, width;
	transition-duration: 0.12s;
	transition-timing-function:ease-in-out;
	horizontal-align:center;
	margin-top:-5px;
	vertical-align: bottom;

	border-radius:2px;
	text-align: center;
}

.attribute_neutral{
	color:#CCC;
}

.unit_attributes_for_heroes{
	horizontal-align:left;
}

.stat_bonus{
	color: #F75959;
}

.stat_negative{
	color: #2EB82E;
}